#topDiv {
	background-color: red;
	border-radius: 10px;
	height: 80px;
	width: 100%
	
}

#responseDiv {
	padding-top: 5%;
	height: 150px;
}

.well{
	padding-top: 5%;
}


#bottomDiv {
	background-color: red;
	height: 80px;
	border-radius: 10px;
	width: 100%
}